<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="00000000-0000-0000-0000-000000000000" name="" alias="" type="" color="">
  <environment type="development" name="Development" id="00000000-0000-0000-0000-000000000000">http://development</environment>
  <environment type="staging" name="Staging" id="00000000-0000-0000-0000-000000000000">http://staging</environment>
  <environment type="live" name="Live" id="00000000-0000-0000-0000-000000000000">http://live</environment>
</environments>