<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="3a7fc21d-c364-4746-ab60-665d030b9d3b" name="vozd76s Courteous Giraffe" alias="vozd76s-courteous-giraffe" type="Starter" color="" url="https://www.s1.umbraco.io/project/vozd76s-courteous-giraffe">
  <environment type="live" name="Live" id="84d337e8-b183-42b7-969e-46dd7da459f8">https://vozd76s-courteous-giraffe.s1.umbraco.io</environment>
</environments>